/*
Project name: Spell, the dog
Website: http://www.renatarocha.com/spell
Author: Renata Rocha
Version: 1.0 - 2016
*/


/********* FONTS **********/
@import url('https://fonts.googleapis.com/css?family=Patrick+Hand');



/********** button general **********/


button {
    background-color: transparent;
    margin: 0;
    padding: 0;
    border: 0;
}

button:focus,
a:focus {
    outline: none;
    border: none;
}

a {
    text-decoration: none;
}

a:hover {
    color: transparent;
}

input:focus {
    outline: none;
}



/********** body **********/

#select-game, 
#game,
#home,
#select-user {
    max-width: 1024px;
    margin: 0 auto;
}


body {
  /*background: #f3f4f4; /* For browsers that do not support gradients */
  /*background: -webkit-linear-gradient(rgba(243,244,244,1), rgba(255,255,255,1),rgba(243,244,244,1)); /*Safari 5.1-6*/
  /*background: -o-linear-gradient(rgba(243,244,244,1), rgba(255,255,255,1),rgba(243,244,244,1)); /*Opera 11.1-12*/
  /*background: -moz-linear-gradient(rgba(243,244,244,1), rgba(255,255,255,1),rgba(243,244,244,1)); /*Fx 3.6-15*/
  /*background: linear-gradient(rgba(243,244,244,1), rgba(255,255,255,1), rgba(243,244,244,1)); /*Standard*/
  background: url("../images/bg.png") repeat #f3f4f4 0px 0px;
  font: normal 14px 'Patrick Hand', sans-serif;
  color: #000000;
}

/********** Home **********/

#home #logo {
    margin: 4em 0;
}

#home #letsplay img {
    height: 9.9em;
}

#home #letsplay {
    margin: 3em 0 ;
}


#home #letsplay img:hover,
#home #letsplay img:active {
    -ms-transform: scale(1.1,1.1); /* IE 9 */
    -webkit-transform: scale(1.1,1.1); /* Safari */
    transform: scale(1.1,1.1);
}

/********** About Modal **********/

#aboutModal .copyright {
    font: normal 2em 'Patrick Hand', sans-serif;
    text-transform: uppercase;
    text-align: center;
}

#aboutModal .line1, 
#aboutModal .line2,  
#aboutModal .line4 {
    margin: 1em 0 2em;
}

#aboutModal .line3 {
    margin: 3em 0 2em;
}


#aboutModal .gstlogo {
    padding-top: 2em;
}

#aboutModal .btn-about.review img {
    -ms-transform: scale(0.95); /* IE 9 */
    -webkit-transform: scale(0.95); /* Safari */
    transform: scale(0.95);
}

#aboutModal .btn-about img:hover {
    -ms-transform: scale(1.1,1.1); /* IE 9 */
    -webkit-transform: scale(1.1,1.1); /* Safari */
    transform: scale(1.1,1.1);
}

#aboutModal .a-about img:hover {
    -ms-transform: scale(1.05,1.05); /* IE 9 */
    -webkit-transform: scale(1.05,1.05); /* Safari */
    transform: scale(1.05,1.05);
}


/********** Select User **********/

    
#select-user #dog-select {

}

#select-user .add-select {
    max-height: 575px;
    vertical-align: middle;
    text-align: center;
}

#select-user #create-new img {
    height: 5.4em;
}



#select-user .button:hover {
    -ms-transform: scale(1.05,1.05); /* IE 9 */
    -webkit-transform: scale(1.05,1.05); /* Safari */
    transform: scale(1.05);
}

#select-user #create-new {
    margin: 18em 0 0;
}

#old-users .button {
    background: url(../images/player-bg.svg) transparent no-repeat;
    display: block;
    width: 100%;
    font: normal 2.5em 'Patrick Hand';
    color: #60C5B7;
    text-align: left;
    line-height: 0;
    margin: 0.3em 0;
    padding: 0;
    height: 2.2em;
}

#old-users .avatar {
    height: 5.9vh;
    display: inline-block;
    padding: 0 0.2em 0 1em;
}

#select-user #remember-seccode .selected {
    transform: scale(1.2);
}


/********** add user modal **********/

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(255,255,255,0.8);
}
::-moz-placeholder { /* Firefox 19+ */
  color: rgba(255,255,255,0.8);
}
:-ms-input-placeholder { /* IE 10+ */
  color: rgba(255,255,255,0.8);
}
:-moz-placeholder { /* Firefox 18- */
  color: rgba(255,255,255,0.8);
}



#adduser input,
#forgotpass input,
#pass-recover input,
#create-user input,
#user-taken input {
    background: url(../images/player-field.svg) no-repeat transparent center center;
    border: none;
    color: #ffffff;
    text-align: left;
    height: 2em;
    width: 100%;
    font: normal 60px 'Patrick Hand', sans-serif;
    line-height: 0;
    text-indent: 6%;
}

#adduser #letsplay {
    position: relative;
    clear: both;
    margin: 2em 0;
}

#adduser #letsplay button {
    height: 7em;
    width: 100%;
}

#adduser .line1 {
    padding-top: 1em;
}


#adduser #letsplay img:hover {
    -ms-transform: matrix(1.05, 0, 0, 1.05, 0, 0) rotate(5deg);
    -webkit-transform: matrix(1.05, 0, 0, 1.05, 0, 0) rotate(5deg);
    transform: matrix(1.05, 0, 0, 1.05, 0, 0) rotate(5deg);
}

#adduser .line4 {
    padding-bottom: 1em;
}

.btn-adduser {
    margin-top: 2%;
}

.btn-adduser:hover {
    -ms-transform: scale(1.05,1.05); /* IE 9 */
    -webkit-transform: scale(1.05,1.05); /* Safari */
    transform: scale(1.05);
}

#forgotpass #next button,
#remember-seccode #next button, 
#pass-recover #next button,
#create-user #next button,
#user-taken #back button,
#create-seccode #next button,
#select-avatar #next button,
#change-avatar #next button {
    height: auto;
    width: 100%;
}


#remember-seccode .line2 span.col-xs-4,
#create-seccode .line2 span.col-xs-4,
#select-avatar .line2 span.col-xs-2,
#change-avatar .line2 span.col-xs-2 {
    padding: 4px;
    margin: 0;
    text-align: center;
}

#remember-seccode .line2 img:hover,
#create-seccode .line2 img:hover,
#select-avatar .line2 img:hover,
#change-avatar .line2 img:hover {
    -ms-transform: scale(1.05,1.05); /* IE 9 */
    -webkit-transform: scale(1.05,1.05); /* Safari */
    transform: scale(1.05);
}

#remember-seccode .line2 h6,
#create-seccode .line2 h6 {
    padding: 4px;
    margin: 0;
    text-align: center;
}


#create-user h6 {
    text-align: center;
    margin-top: 1%;
}

/********** header **********/

#header {
    margin: 8px auto 0px;
    height: 1%;
    padding: 0;
}
#game #header {
height: 5em;
}

#useravatar {
    width: 27%;
    padding: 0;
    margin: 0;
    float: left;
}

#usercoins {
    width: 73%;
    margin: 5px 0px 0px 0px;
    padding: 0;
    float: right;
    background: transparent url('../images/usercoins.svg') no-repeat 0 0;
    height: 4em;
}

#usercoins .coins {
    font: normal 2.0em 'Patrick Hand';
    color: #ffffff;
    text-align: left;
    padding: 0px 0px 0px 70px;
    position: relative;
    top: 0.4em;
}


#change-avatar .select-avatar .avatar-selected {
    transform: scale(1.2);
}

/********** level **********/

#level {
    height: 9em;
}


#level img {
    -ms-transform: scale(0.8,0.8);
    -webkit-transform: scale(0.8,0.8);
    transform: scale(0.8,0.8);
}


#level img:hover,
#level img.active {
    -ms-transform: scale(1.0,1.0);
    -webkit-transform: scale(1.0,1.0);
    transform: scale(1.0,1.0);
}

#level img.inactive {
    opacity: 0.5;
}




/********** theme **********/
#theme {
  display: inline-block;
  width: 100%;
  /*overflow: hidden;*/
}

#theme img {
    -ms-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    opacity: 0.5;
    transform: scale(0.8);
    transition: all 300ms ease;
}

#theme *:focus {
    outline: none;
}

#theme .slick-center img{
    -ms-transform: scale(1.0);
    -webkit-transform: scale(1.0);
    opacity: 1;
    transform: scale(1.0);
}


#theme .navigation img:hover {
    -ms-transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
}

#theme-buttons button {
    width: 15%;
    margin: -2% 0 0 0;
}


#theme-buttons #next {
    float: right;
}

/********** button effects **********/
#theme .slick-center img:active,
#theme-buttons button:active,
#level img:active,
footer button:active {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}

/********** Spelling screeen **********/

/********** Idiom **********/

#figure .language {
    position: relative;
    left: -95px;
    top: 0px;
}

#figure .language button {
    color: transparent;
    width: 5em;
    height: 5em;
}

#figure .language[data-language="en-us"] {
    background: url(../images/flag-us.svg) no-repeat transparent;
}

#figure .language[data-language="es-sp"] {
    background: url(../images/flag-es.svg) no-repeat transparent;
}

#figure .language button:hover {
    -webkit-transform: rotate(-6deg); /* WebKit */
    -moz-transform: rotate(-6deg); /* Mozilla */
    -o-transform: rotate(-6deg); /* Opera */
    -ms-transform: rotate(-6deg); /* Internet Explorer */
    transform: rotate(-6deg); /* CSS3 */
    position: relative;
    z-index: 10;
}

button:active {
    text-decoration: none; 
} 
/********** stars **********/

#stars .star {
    height: 5vh;
    width: 18%;
    display: inline-block;
}


#stars .star.on {
    background: url('../images/star-on.svg') no-repeat transparent;
}

#stars .star.off {
    background: url('../images/star-off.svg') no-repeat transparent;
}

/********** baloon + dog **********/
.dog-seated {
    margin: 17em 0 0 0;
    padding: 0;
}

/*.ballon-spelling {
    padding: 0;
    margin: 0 0 0 -4em;
}*/

#figure .object {
    padding: 0;
    background: transparent no-repeat url('../images/ballon-spelling.svg') top center;
    height: 30em;
}

#figure .object .item {
    max-width: 76%;
    position: relative;
    vertical-align: middle;
    text-align: center;
    padding-top: 40px;
    padding-left: 21px;
}

.letter {
    display: inline-block;
    width: 100px;
    font-size: 60px;
    line-height: 100px;
    vertical-align: middle;
    margin-right: 5px;
    text-align: center;
    color: white;
    cursor: pointer;
    border-radius: 10px;
}
#all-letters .letter {
    background: url(../images/letter-blue.svg) no-repeat transparent;
    font: normal 6em 'Patrick Hand';
    text-transform: uppercase;
    z-index: 10;
}

#guess .letter {
    background: url(../images/letter-gray.svg) no-repeat transparent;
    font: normal 6em 'Patrick Hand';
    text-transform: uppercase;
    margin-left: 0.3em;
    z-index: 1;
}

#guess {
    margin: 2em 0;
    text-align: center;
}


#guess .letter.over,
.drop-over {
    background-color: yellow;
}
#all-letters {
    height: 24em;
}
#all-letters .letter.over-right {
    background: url(../images/letter-green.svg) no-repeat transparent;
}
#all-letters .letter.over-wrong {
    background: url(../images/letter-red.svg) no-repeat transparent;
}

/********** Modal Win + Modal Try **********/


.modalwin .modal-header,
.modaltry .modal-header {
    border: none;
    position: relative;
    padding: 15px;
    background-color: #ffffff;
    border-top-left-radius: 90px;
    border-top-right-radius: 90px;
    top: 10px;
}


.modalwin .line1,
.modalwin .line2,
.modalwin .line3,
.modaltry .line1 {
    margin: 2% 0;
    text-align: center;
}


.modalwin #win-all-letters .win-letter,
.modaltry #try-all-letters .try-letter {
    background: url(../images/letter-green.svg) no-repeat transparent center center;
    font: normal 3em 'Patrick Hand';
    text-transform: uppercase;
    display: inline-block;
    width: 13%;
    line-height: 2;
    vertical-align: middle;
    margin-right: 0.5%;
    text-align: center;
    color: #ffffff;
}


/********** Modal win  **********/

.modalwin #win-result {
    background: url(../images/win-coins-bg.svg) no-repeat transparent center center;
    font: normal 3em 'Patrick Hand';
    text-transform: uppercase;
    display: inline-block;
    line-height: 2;
    text-align: center;
    color: #ffffff;
}

.modalwin #win-result .col-xs-1,
.modalwin #win-result .col-xs-2,
.modalwin #win-result .col-xs-3 {
    padding: 0;
    margin: 0 1%;
}

/********** Modal Try again **********/


.modaltry span.takehint {
    font-size: 2.4vh;
    color: #000000;
    line-height: 1.8;
    text-align: center;
}


.modaltry .modal-btn {
    margin-top: 6%;
}

/********** Modal Win & Try again buttons **********/


.modal-btn button span {
    background: url("../images/icons.png") no-repeat transparent;
    color: transparent;
    height: 54px;
    display: block;
    width: 68px;
    margin: 0;
}

.modal-btn button span:hover {
    transform: rotate(-4deg);
    -webkit-transform: rotate(-4deg); /* WebKit */
    -moz-transform: rotate(-4deg); /* Mozilla */
    -o-transform: rotate(-4deg); /* Opera */
    -ms-transform: rotate(-4deg); /* Internet Explorer */
}

.modal-btn .home,
.modal-btn .repeat,
.modal-btn .next {
    padding: 0;
}


.modal-btn .home span {
    background-position: -138px 0px;
}

.modal-btn .repeat span {
     background-position: -210px 0px; 
 /*   background: url(../images/icons.svg#music-on-view) no-repeat transparent;
    background-size: contain;
    background-size: 100% 100%;*/
}

.modal-btn .next span {
    background: url(../images/next.svg) no-repeat transparent;
    width: 100%;
}


/********** Modal BIG (+ win & try)**********/


.modalbig h4 {
    font: normal 55px 'Patrick Hand';
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
}

.modalbig h6 {
    font: normal 27px 'Patrick Hand';
    color: #0e76bc;
    text-transform: uppercase;
}

.modalbig .modal-header {
    padding: 0.5em 0;
    border-bottom: none;
} 


.modalwin .modal-dialog,
.modaltry .modal-dialog,
.modalbig .modal-dialog {
    width: 50%;
    margin: 5% auto;
}


.modalbig .modal-body,
.modalwin .modal-body,
.modaltry .modal-body {
    position: relative;
    padding: 15px;
    background-color: #ffffff;
    border-bottom-left-radius: 90px;
    border-bottom-right-radius: 90px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.modalbig .modal-content,
.modalwin .modal-content,
.modaltry .modal-content {
    border: 0;
    box-shadow: 6px 8px 0px rgba(170,170,170,1);
    border-bottom-left-radius: 90px;
    border-bottom-right-radius: 90px;
    border-top-left-radius: 90px;
    border-top-right-radius: 100px;
    padding: 0 29px 13px 30px;
}

.modal-content {
    background-color: #34a7c4;
}

.modal-content.green {
    background-color: #61c5b7;
}

.modal-content.winbg {
   background-color: #4db967; 
}

.modal-content.trybg {
  background-color: #f7941d;  
}


.modalbig .modal-header .close {
    background: transparent url(../images/button-x.svg) no-repeat;
    color: transparent;
    width: 50px;
    height: 50px;
    opacity: 1;
    cursor: pointer;
}

/********** userModal BIG **********/


#userModal .dog-user {
    margin-top: 3em;
}

#userModal #status-usercoins {
    width: 100%;
    float: none;
    height: 6em;
    text-align: left;
    margin: 5px 0px 0px 0px;
    padding: 0;
    background: transparent url(../images/usercoins.svg) no-repeat 0 0;
    color: #fff;
}

#userModal span.coins {
    padding: 0 0 0 2.7em;
    font: normal 3em 'Patrick Hand', sans-serif;
    position: relative;
    top: 0.4em;
}


#userModal .line2 {
    margin: 4em 0 3em;
    text-align: center;
    /* min-height: 1em; */
}

#userModal .btn-user img:hover,
#userModal .user-status img:hover {
    -ms-transform: scale(1.1,1.1); /* IE 9 */
    -webkit-transform: scale(1.1,1.1); /* Safari */
    transform: scale(1.1,1.1); /* CSS3 */
}


/********** idiomModal BIG **********/

#idiomModal .row.line1 {
    margin-bottom: 30px;
}


#idiomModal .dog-language {
    margin-top: 40px;
}



#idiomModal .btn-flag {
    /*margin: 0 3.5%;*/
    padding: 0;
    text-align: center;
}

#idiomModal .btn-flag img:hover {
    -ms-transform: scale(1.1,1.1); /* IE 9 */
    -webkit-transform: scale(1.1,1.1); /* Safari */
    transform: scale(1.1,1.1); /* CSS3 */
}


#idiomModal .btn-flag.us {
    margin: 9em 0 0 18.3%;
}


#idiomModal img.pt {
    margin-left: 0;
    padding-left: 17px;
}

/********** footer **********/

#footer {
    top: 1.5em;
    position: relative;
}

#footer button {
    margin: 0;
    padding: 0; 
    border: 0;
    background: transparent;
}


#footer button span {
    background: url("../images/icons.png") no-repeat transparent;
    color: transparent;
    height: 54px;
    display: block;
    width: 68px;
    margin: 0;
}

#footer .sound.sound-off span,
#footer .music.music-off span {
    background-position-y: -56px;
}

#footer button span:hover {
    transform: rotate(-4deg);
    -webkit-transform: rotate(-4deg); /* WebKit */
    -moz-transform: rotate(-4deg); /* Mozilla */
    -o-transform: rotate(-4deg); /* Opera */
    -ms-transform: rotate(-4deg); /* Internet Explorer */
}


#footer .sound,
#footer .music,
#footer .home,
#footer .repeat,
#footer .say,
#footer .hint,
#footer .switch,
#footer .about {
    padding: 0;
}

#home #footer .col-xs-4 {
    margin-left: 5%;
}

#footer .sound span {
    background-position: 0px 0px;
}


#footer .music span {
    background-position: -69px 0px;
}

#footer .home span {
    background-position: -138px 0px;
}

#footer .repeat span {
    background-position: -208px 0px;
}

#footer .say span {
    background-position: -276px 0px;
}

#footer .hint span {
    background-position: -349px 0px;
}

#footer .switch span {
    background-position: -420px 0px;
}

#footer .about span {
    background-position: -493px 0px;
}





/**************************/
/******** dogs SVG ********/
/**************************/




  /******** Steps ********/

  g#step1 {
      position: relative;
      animation-name: stepa;
      animation-duration: 5s;
      animation-timing-function: step-end;
      animation-delay: 0s;
      animation-iteration-count: infinite;
      animation-direction: normal;
      transform-origin: 0% 0%;
  }
  /* Standard syntax */
  @keyframes stepa {
      0%   {opacity:0; left:0px;}
      25% {opacity:1; right: :0px;}
      50% {opacity:1; right:20px !important;}
      75% {opacity:1; right:20px !important;}
      100% {opacity:1; right:20px !important;}
  }


  g#step2_1_ {
      position: relative;
      animation-name: stepb;
      animation-duration: 5s;
      animation-timing-function: step-end;
      animation-delay: 0s;
      animation-iteration-count: infinite;
      animation-direction: normal;
      transform-origin: 0% 0%;
  }
  /* Standard syntax */
  @keyframes stepb {
      0%   {opacity:0; left:0px;}
      25% {opacity:0; right: :0px;}
      50% {opacity:1; right:20px !important;}
      75% {opacity:1; right:20px !important;}
      100% {opacity:1; right:20px !important;}
  }

  g#step3 {
      position: relative;
      animation-name: stepc;
      animation-duration: 5s;
      animation-timing-function: step-end;
      animation-delay: 0s;
      animation-iteration-count: infinite;
      animation-direction: normal;
      transform-origin: 0% 0%;
  }
  /* Standard syntax */
  @keyframes stepc {
      0%   {opacity:0; left:0px;}
      25% {opacity:0; right: :0px;}
      50% {opacity:0; right:20px !important;}
      75% {opacity:1; right:20px !important;}
      100% {opacity:1; right:20px !important;}
  }

  /******** Eyes ********/

  g#eyeclose {
      position: relative;
      animation-name: eyeclose;
      animation-duration: 0.7s;
      animation-timing-function: step-start;
      animation-delay: 0s;
      animation-iteration-count: infinite;
      animation-direction: alternate-reverse;
      transform-origin: 0% 0%;
  }

  /* Standard syntax */
  @keyframes eyeclose {
      0%   {opacity: 0;}
      25% {opacity: 1;}
      50% {opacity: 1;}
      75% {opacity: 0;}
      100% {opacity: 1;}
  }

  /******** tail ********/

  path#tail {

      position: relative;
      animation-name: tail;
      animation-duration: 0.1s;
      animation-timing-function: linear;
      animation-delay: 0s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      transform-origin: 100% 20%;
  }

  /* Standard syntax */
  @keyframes tail {
      0%   {transform: matrix(1, 0, 0, 1, 2, 1)rotate(-2deg);}
      25% {transform: matrix(1, 0, 0, 1, 2, 1)rotate(-4deg);}
      50% {transform: matrix(1, 0, 0, 1, 2, 1)rotate(-6deg);}
      75% {transform: matrix(1, 0, 0, 1, 2, 1)rotate(-8deg);}
      100% {transform: matrix(1, 0, 0, 1, 2, 1)rotate(-10deg);}
  }
