/*
Project name: Spell, the dog
Website: http://www.renatarocha.com/spell
Author: Renata Rocha
Version: 1.0 - 2016
*/

/********* FONTS **********/
@import url('https://fonts.googleapis.com/css?family=Patrick+Hand');

/********** buttons **********/
button {
	margin: 0;
	border: 0;
	 background: transparent;
}

button span {
    background: url("../images/icons.png") no-repeat transparent;
    color: transparent;
    height: 54px;
    display: block;
    width: 68px;
    margin: 0;
}

button span:hover {
	transform: scale(1.01,1.01);
}

.sound span {
	background-position: 0px 0px;
}

 button span:hover {
	transform: scale(1.2,1.2);
}

.music span {
	background-position: -69px 0px;
}

.home span {
	background-position: -138px 0px;
}



/********** header **********/

#header {
    margin: 8px auto 0px;
    height: 1%;
}

#useravatar {
    width: 27%;
    padding: 0;
    margin: 0;
    float: left;
}

#usercoins {
    WIDTH: 73%;
    margin: 5px 0px 0px 0px;
    padding: 0;
    float: right;
}

/********** body **********/

#select-game {
    width: 100%;
    margin: 0 auto;
}

body {
  /*background: #f3f4f4; /* For browsers that do not support gradients */
  /*background: -webkit-linear-gradient(rgba(243,244,244,1), rgba(255,255,255,1),rgba(243,244,244,1)); /*Safari 5.1-6*/
  /*background: -o-linear-gradient(rgba(243,244,244,1), rgba(255,255,255,1),rgba(243,244,244,1)); /*Opera 11.1-12*/
  /*background: -moz-linear-gradient(rgba(243,244,244,1), rgba(255,255,255,1),rgba(243,244,244,1)); /*Fx 3.6-15*/
  /*background: linear-gradient(rgba(243,244,244,1), rgba(255,255,255,1), rgba(243,244,244,1)); /*Standard*/
  background: url("../images/bg.png") repeat #f3f4f4 0px 0px;

}

/*#bg {
    background: url("file:///Users/r3rocha/Desktop/Touro%20College/02%20-%20Student/694%20-%20Thesis/03%20-%20DEV/spell/images/bg.png") repeat transparent 0px 0px;
    width: 100%;
    height: 100%;
}*/

/********** header **********/

header {
    height: 4em;
}

/********** level **********/

#level {
    height: 9em;
}


#level img {
    -ms-transform: scale(0.8,0.8);
    -webkit-transform: scale(0.8,0.8);
    transform: scale(0.8,0.8);
}


#level img:hover {
    -ms-transform: scale(1.0,1.0);
    -webkit-transform: scale(1.0,1.0);
    transform: scale(1.0,1.0);
}



/********** theme **********/
#theme {
  display: inline-block;
  width: 100%;
  /*overflow: hidden;*/
}

#theme img {
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    opacity: 0.5;
    transform: scale(0.8);
    transition: all 300ms ease;
}

#theme .slick-center img{
    -moz-transform: scale(1.0);
    -ms-transform: scale(1.0);
    -o-transform: scale(1.0);
    -webkit-transform: scale(1.0);
    opacity: 1;
    transform: scale(1.0);
}

/*#theme img:hover {
    -ms-transform: scale(1.2,1.2);
    -webkit-transform: scale(1.2,1.2);
    transform: scale(1.2,1.2);
}*/


#theme .navigation img:hover {
    -ms-transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
}

#theme-buttons button {
    transform: scale(0.7);
    width: 15%;
    margin: -2% 0 0 0;
}


#theme-buttons #next {
    float: right;
}



/********** footer **********/

#footer {
    top: 1.5em;
    position: relative;
}
