/*
Project name: Spell, the dog
Website: http://www.renatarocha.com/spell
Author: Renata Rocha
Version: 1.0 - 2016
*/

/********* FONTS **********/
@import url('https://fonts.googleapis.com/css?family=Patrick+Hand');

/********** button general **********/


button {
    background-color: transparent;
    margin: 0;
    padding: 0;
    border: 0;
}

button:focus,
a:focus {
    outline: none;
    border: none;
}

a {
    text-decoration: none;
}

a:hover {
    color: transparent;
}
/********** body **********/

#select-game, 
#game {
    max-width: 1024px;
    margin: 0 auto;
}


body {
  /*background: #f3f4f4; /* For browsers that do not support gradients */
  /*background: -webkit-linear-gradient(rgba(243,244,244,1), rgba(255,255,255,1),rgba(243,244,244,1)); /*Safari 5.1-6*/
  /*background: -o-linear-gradient(rgba(243,244,244,1), rgba(255,255,255,1),rgba(243,244,244,1)); /*Opera 11.1-12*/
  /*background: -moz-linear-gradient(rgba(243,244,244,1), rgba(255,255,255,1),rgba(243,244,244,1)); /*Fx 3.6-15*/
  /*background: linear-gradient(rgba(243,244,244,1), rgba(255,255,255,1), rgba(243,244,244,1)); /*Standard*/
  background: url("../images/bg.png") repeat #f3f4f4 0px 0px;

}

/********** header **********/

#header {
    margin: 8px auto 0px;
    height: 1%;
    padding: 0;
}
#game #header {
height: 5em;
}

#useravatar {
    width: 27%;
    padding: 0;
    margin: 0;
    float: left;
}

#usercoins {
    width: 73%;
    margin: 5px 0px 0px 0px;
    padding: 0;
    float: right;
    background: transparent url('../images/usercoins.svg') no-repeat 0 0;
    height: 4em;
}

#usercoins .coins {
    font: normal 2.0em 'Patrick Hand';
    color: #ffffff;
    text-align: left;
    padding: 0px 0px 0px 70px;
    position: relative;
    top: 0.4em;
}


/********** level **********/

#level {
    height: 9em;
}


#level img {
    -ms-transform: scale(0.8,0.8);
    -webkit-transform: scale(0.8,0.8);
    transform: scale(0.8,0.8);
}


#level img:hover,
#level img.active {
    -ms-transform: scale(1.0,1.0);
    -webkit-transform: scale(1.0,1.0);
    transform: scale(1.0,1.0);
}

#level img.inactive {
    opacity: 0.5;
}




/********** theme **********/
#theme {
  display: inline-block;
  width: 100%;
  /*overflow: hidden;*/
}

#theme img {
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    opacity: 0.5;
    transform: scale(0.8);
    transition: all 300ms ease;
}

#theme *:focus {
    outline: none;
}

#theme .slick-center img{
    -moz-transform: scale(1.0);
    -ms-transform: scale(1.0);
    -o-transform: scale(1.0);
    -webkit-transform: scale(1.0);
    opacity: 1;
    transform: scale(1.0);
}

/*#theme img:hover {
    -ms-transform: scale(1.2,1.2);
    -webkit-transform: scale(1.2,1.2);
    transform: scale(1.2,1.2);
}*/


#theme .navigation img:hover {
    -ms-transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
}

#theme-buttons button {
    width: 15%;
    margin: -2% 0 0 0;
}


#theme-buttons #next {
    float: right;
}

/********** button effects **********/
#theme .slick-center img:active,
#theme-buttons button:active,
#level img:active,
footer button:active {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}

/********** Spelling screeen **********/

/********** Idiom **********/

#figure .language {
    position: relative;
    left: -95px;
    top: 0px;
}

#figure .language button {
    background: url(../images/flag-us.svg) no-repeat transparent;
    color: transparent;
    width: 5em;
    height: 5em;
}

#figure .language button:hover {
    -webkit-transform: rotate(-6deg); /* WebKit */
    -moz-transform: rotate(-6deg); /* Mozilla */
    -o-transform: rotate(-6deg); /* Opera */
    -ms-transform: rotate(-6deg); /* Internet Explorer */
    transform: rotate(-6deg); /* CSS3 */
}

button:active {
    text-decoration: none; 
} 

/********** baloon + dog **********/
.dog-seated {
    margin: 17em 0 0 0;
    padding: 0;
}

/*.ballon-spelling {
    padding: 0;
    margin: 0 0 0 -4em;
}*/

#figure .object {
    padding: 0;
    background: transparent no-repeat url('../images/ballon-spelling.svg') top center;
    height: 30em;
}

#figure .object .item {
    max-width: 70%;
    position: relative;
    vertical-align: middle;
    text-align: center;
    padding-top: 40px;
    padding-left: 21px;
}

.letter {
    display: inline-block;
    width: 100px;
    font-size: 60px;
    line-height: 100px;
    vertical-align: middle;
    margin-right: 5px;
    text-align: center;
    color: white;
    cursor: pointer;
    border-radius: 10px;
}
#all-letters .letter {
    background: url(../images/letter-blue.svg) no-repeat transparent;
    font: normal 6em 'Patrick Hand';
    text-transform: uppercase;
}

#guess .letter {
    background: url(../images/letter-gray.svg) no-repeat transparent;
    font: normal 6em 'Patrick Hand';
    text-transform: uppercase;
    margin-left: 0.3em;
}

#guess {
    margin: 2em 0;
    text-align: center;
}


#guess .letter.over {
    background: url(../images/letter-gray.svg) no-repeat transparent;
}
#guess .letter.over-right {
    background: url(../images/letter-green.svg) no-repeat transparent;
}
#guess .letter.over-wrong {
    background: url(../images/letter-red.svg) no-repeat transparent;
}

/********** Modal BIG **********/


.modalbig h4 {
    font: normal 55px 'Patrick Hand';
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
}

.modalbig h6 {
    font: normal 27px 'Patrick Hand';
    color: #0e76bc;
    text-transform: uppercase;
}

.modalbig .modal-header {
    padding: 0.5em 0;
    border-bottom: none;
} 

.modalbig .modal-dialog {
    width: 750px !important;
    margin: 50px auto;
}

.modalbig .modal-body {
    position: relative;
    padding: 15px;
    background-color: #ffffff;
    border-bottom-left-radius: 90px;
    border-bottom-right-radius: 90px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.modalbig .modal-content {
    background-color: #34a7c4;
    border: 0;
    box-shadow: 6px 8px 0px rgba(170,170,170,1);
    padding: 4px 14px 21px;
    border-bottom-left-radius: 90px;
    border-bottom-right-radius: 90px;
    border-top-left-radius: 90px;
    border-top-right-radius: 100px;
    padding: 0 29px 13px 30px;

}

.modalbig .modal-header .close {
    background: transparent url(../images/button-x.svg) no-repeat;
    color: transparent;
    width: 50px;
    height: 50px;
    opacity: 1;
    cursor: pointer;
}

/********** userModal BIG **********/


#userModal .dog-user {
    margin-top: 3em;
}

#userModal #usercoins {
    width: 100%;
    float: none;
    height: 6em;
    text-align: left;
}

#userModal span.coins {
    padding: 0 0 0 2.5em;
    font-size: 3em;
}


#userModal .line2 {
    margin: 4em 0 3em;
    text-align: center;
    /* min-height: 1em; */
}

#userModal .btn-user img:hover,
#userModal .user-status img:hover {
    -webkit-transform: scale(1.1,1.1); /* WebKit */
    -moz-transform: scale(1.1,1.1); /* Mozilla */
    -o-transform: scale(1.1,1.1); /* Opera */
    -ms-transform: scale(1.1,1.1); /* Internet Explorer */
    transform: scale(1.1,1.1); /* CSS3 */
}


/********** idiomModal BIG **********/

#idiomModal .row.line1 {
    margin-bottom: 30px;
}


#idiomModal .dog-language {
    margin-top: 40px;
}



#idiomModal .btn-flag {
    /*margin: 0 3.5%;*/
    padding: 0;
    text-align: center;
}

#idiomModal .btn-flag img:hover {
    -webkit-transform: scale(1.1,1.1); /* WebKit */
    -moz-transform: scale(1.1,1.1); /* Mozilla */
    -o-transform: scale(1.1,1.1); /* Opera */
    -ms-transform: scale(1.1,1.1); /* Internet Explorer */
    transform: scale(1.1,1.1); /* CSS3 */
}


#idiomModal .btn-flag.us {
    margin: 9em 0 0 18.3%;
}





#idiomModal img.pt {
    margin-left: 0;
    padding-left: 17px;
}

/********** footer **********/

#footer {
    top: 1.5em;
    position: relative;
}

#footer button {
    margin: 0;
    padding: 0; 
    border: 0;
    background: transparent;
}


#footer button span {
    background: url("../images/icons.png") no-repeat transparent;
    color: transparent;
    height: 54px;
    display: block;
    width: 68px;
    margin: 0;
}

#footer button span:hover {
    transform: rotate(-4deg);
    -webkit-transform: rotate(-4deg); /* WebKit */
    -moz-transform: rotate(-4deg); /* Mozilla */
    -o-transform: rotate(-4deg); /* Opera */
    -ms-transform: rotate(-4deg); /* Internet Explorer */
}


#footer .sound,
#footer .music,
#footer .home,
#footer .repeat,
#footer .say,
#footer .hint,
#footer .switch {
    padding: 0;
}


#footer .sound span {
    background-position: 0px 0px;
}


#footer .music span {
    background-position: -69px 0px;
}

#footer .home span {
    background-position: -138px 0px;
}

#footer .repeat span {
    background-position: -208px 0px;
}

#footer .say span {
    background-position: -276px 0px;
}

#footer .hint span {
    background-position: -349px 0px;
}

#footer .switch span {
    background-position: -420px 0px;
}
